# Jupyter Book build
jupyter-book<2
sphinx-togglebutton
sphinx-copybutton

# Data analysis
numpy
pandas
matplotlib

# Interactive visualizations
plotly
kaleido

# Energy data analysis
pyedautils
influxdb-toolkit

# Time series
statsmodels

# Notebook support
ipywidgets
